body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_container{
    width: 100%;
    height: 800px;
    margin-top: 30px;
    /* background-color: black; */
    float: left;
    position: relative;
}
.heading{
    width: 360px;
    height: 300px;
    background-color: white;
    float: left;
    margin-left: 220px;
}
.heading h1{
    font-size: 30px;
    font-weight: 400;
}
.green_container{
    width: 60%;
    height: 500px;
    background-color: #60928c;
    float: left;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.beautiful_text{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    margin-top: 60px;
    left: -130px;
    float: left;
}
.beautiful_text span{
    font-size: 77px;
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}
.photo{
    width: 450px;
    height: 650px;
    background-color: deeppink;
    float: left;
    position: absolute;
    right: 50px;
    top: -200px;
}
.photo img{
    width: 450px;
    height: 650px;
    object-fit: cover;
}

























.footer{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #333333;
    float: left;
}
.footer a span{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
}
.white{
    color: white;
    text-decoration: none;
}